# KPI Inmigrantes en AMBA

## Importando Librerías

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime  # Importa datetime
import regex as re

## Extracción y Limpieza

In [2]:
df_residencias12017= pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/recidencias-otorgadas-1-trimestre---ano---2017.csv")
df_residencias12017

                   PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0   CIUDAD AUTONOMA DE BS AS          2836        23678        10631  37145
1               BUENOS AIRES           288         4986         3839   9113
2                   SANTA FE           131          570          740   1441
3                    CORDOBA           272          578          348   1198
4                      SALTA            12          435          323    770
5                    MENDOZA            76          371          302    749
6                     CHUBUT            30          376          258    664
7                   MISIONES             3          240          278    521
8                 CORRIENTES             9          220          242    471
9                    NEUQUEN            28          195          155    378
10                 RIO NEGRO            47          192          134    373
11          TIERRA DEL FUEGO           175           51           93    319
12                ENTRE RIOS            40          110          110    260
13                   FORMOSA             1          107          141    249
14                  SAN JUAN            20           96           86    202
15                   TUCUMAN            32           88           76    196
16                     JUJUY            19           89           82    190
17                  LA RIOJA             7           86           83    176
18                SANTA CRUZ             8           92           58    158
19                  SAN LUIS             3           54           45    102
20                  LA PAMPA            15           35           37     87

In [3]:
df_residencias22017=pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/recidencias-otorgadas-2-trimestre---ano---2017.csv")
df_residencias22017

                   PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0   CIUDAD AUTONOMA DE BS AS          3339        17523        13458  34320
1               BUENOS AIRES           269         4864         4286   9419
2                    CORDOBA           518          918          594   2030
3                   SANTA FE           257          346          768   1371
4                    NEUQUEN            51          591          427   1069
5                    MENDOZA           245          335          347    927
6                     CHUBUT            32          447          330    809
7                   MISIONES             2          293          337    632
8                  RIO NEGRO            58          283          199    540
9                      JUJUY            16          210          289    515
10                CORRIENTES            28          157          151    336
11                  LA RIOJA            12          193           96    301
12                SANTA CRUZ             8          182          105    295
13                  SAN JUAN            56          167           64    287
14                   TUCUMAN            64           99          103    266
15                     SALTA            14          109           97    220
16          TIERRA DEL FUEGO            19          119           74    212
17                ENTRE RIOS            16           86           71    173
18                   FORMOSA             0           52           92    144
19                  SAN LUIS             6           55           43    104
20                  LA PAMPA            22           53           24     99

In [4]:
df_residencias32017= pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/residencias-otorgadas---3-trimestre---ano-2017.csv")
df_residencias32017

                   PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0   CIUDAD AUTONOMA DE BS AS          3679        26650        12645  42974
1               BUENOS AIRES           216         5095         4980  10291
2                    CORDOBA           269          887          596   1752
3                     CHUBUT            25          552          486   1063
4                   MISIONES            11          482          436    929
5                   SANTA FE           130          316          427    873
6                      JUJUY            13          364          382    759
7                    MENDOZA           150          273          289    712
8                    NEUQUEN            26          382          303    711
9                      SALTA            20          366          288    674
10                 RIO NEGRO            58          229          182    469
11                  LA RIOJA             9          282          168    459
12                  SAN JUAN            35          210          138    383
13                CORRIENTES            17          187          175    379
14                   TUCUMAN            46          148           82    276
15                ENTRE RIOS             7           99          142    248
16          TIERRA DEL FUEGO            29          130           82    241
17                   FORMOSA             4           91          126    221
18                SANTA CRUZ             8          104           86    198
19                  SAN LUIS             2           54           78    134
20                  LA PAMPA             9           64           33    106

In [5]:
df_residencias42017= pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/residencias-otorgadas---4-trimestre---ano-2017.csv")
df_residencias42017

                   PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0   CIUDAD AUTONOMA DE BS AS          2952        19383        14503  36838
1               BUENOS AIRES           381         6093         5743  12217
2                    CORDOBA           491          924          631   2046
3                    MENDOZA           267          681          572   1520
4                   SANTA FE           138          393          602   1133
5                   MISIONES            11          422          418    851
6                      SALTA            15          406          347    768
7                     CHUBUT            37          333          327    697
8                 CORRIENTES            41          318          295    654
9                    NEUQUEN            21          308          306    635
10                     JUJUY            20          304          289    613
11          TIERRA DEL FUEGO           402          107           81    590
12                ENTRE RIOS            49          253          197    499
13                 RIO NEGRO            24          196          121    341
14                  LA RIOJA            14          148          168    330
15                  SAN JUAN            69          144           79    292
16                   TUCUMAN            82          105           88    275
17                   FORMOSA            14          106          130    250
18                SANTA CRUZ             6           73           78    157
19                  SAN LUIS             4           76           69    149
20                  LA PAMPA             5           72           29    106

In [6]:
df_residencias12018= pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/residencias-otorgadas---1-trimestre---ano-2018.csv")
df_residencias12018

                   PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0   CIUDAD AUTONOMA DE BS AS          2534        19121        10244  31899
1               BUENOS AIRES           203         3771         3308   7282
2                    CORDOBA           410          831          485   1726
3                    MENDOZA           187          567          573   1327
4                   SANTA FE           183          478          564   1225
5                    NEUQUEN            39          516          379    934
6                   MISIONES             9          327          349    685
7                     CHUBUT            33          358          236    627
8                      SALTA            34          330          203    567
9                  RIO NEGRO            61          246          162    469
10          TIERRA DEL FUEGO           289           86           68    443
11                     JUJUY            11          146          218    375
12                CORRIENTES            20          193          154    367
13                ENTRE RIOS            31          198          106    335
14                  LA RIOJA            10          109          120    239
15                   TUCUMAN            32          107           80    219
16                  SAN JUAN            66           78           50    194
17                   FORMOSA             8           71           83    162
18                SANTA CRUZ             7           92           48    147
19                  LA PAMPA            14           67           31    112
20                  SAN LUIS             5           48           55    108

In [7]:
df_residencias22018= pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/residencias-otorgadas---2-trimestre---ano-2018.csv")
df_residencias22018

                   PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0   CIUDAD AUTONOMA DE BS AS          3028        20055        12859  35942
1               BUENOS AIRES           414         7612         5796  13822
2                    CORDOBA           640         1418          655   2713
3                    MENDOZA           286          518          502   1306
4                   SANTA FE           213          520          557   1290
5                      SALTA            40          777          426   1243
6                     CHUBUT            34          445          353    832
7                   MISIONES             4          349          287    640
8                    NEUQUEN            43          308          201    552
9                  RIO NEGRO            48          309          168    525
10                   TUCUMAN            89          278          125    492
11                CORRIENTES            47          209          197    453
12                  LA RIOJA             6          238          160    404
13                ENTRE RIOS            18          175          176    369
14                   FORMOSA             0          116          204    320
15                  SAN JUAN            63          158           58    279
16                     JUJUY            30          136          113    279
17                  LA PAMPA            12          209           36    257
18          TIERRA DEL FUEGO            25          110           60    195
19                SANTA CRUZ            13           96           79    188
20                  SAN LUIS            23           65           59    147

In [8]:
df_residencias12019= pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/residencias-otorgadas---1-trimestre---ano-2019.csv")
df_residencias12019

                   PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0   CIUDAD AUTONOMA DE BS AS          2112        15288         6815  24215
1               BUENOS AIRES           320         7141         4361  11822
2                    CORDOBA           391          974          531   1896
3                    MENDOZA           118          801          339   1258
4                   SANTA FE           165          474          365   1004
5                    NEUQUEN            33          515          148    696
6                   MISIONES             6          376          199    581
7                     CHUBUT            28          338          206    572
8           TIERRA DEL FUEGO           304           79           69    452
9                 CORRIENTES            26          179          155    360
10                     JUJUY            10          190          152    352
11                 RIO NEGRO            45          156          107    308
12                  SAN LUIS             7          210           49    266
13                ENTRE RIOS            13          145           98    256
14                     SALTA            31           83           74    188
15                  SAN JUAN            21           96           55    172
16                  LA RIOJA            15           85           66    166
17                SANTA CRUZ             9           72           60    141
18                   TUCUMAN            34           55           31    120
19                   FORMOSA             1           39           36     76
20                  LA PAMPA             7           46            9     62

In [9]:
df_residencias32018= pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/residencias-otorgadas---3-trimestre---ano-2018.csv")
df_residencias32018

                   PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0   CIUDAD AUTONOMA DE BS AS          3122        20190        14232  37544
1               BUENOS AIRES           412         7917         4710  13039
2                    CORDOBA           484         1219          769   2472
3                   SANTA FE           172          813         1096   2081
4                    MENDOZA           202          561          445   1208
5                    NEUQUEN            32          564          322    918
6                   MISIONES             1          429          317    747
7                     CHUBUT            31          397          265    693
8                    TUCUMAN            58          390          145    593
9                 CORRIENTES            38          249          183    470
10                 RIO NEGRO            27          301          132    460
11                     SALTA            23          278          132    433
12                  LA RIOJA             7          209          199    415
13          TIERRA DEL FUEGO           102          118          108    328
14                  SAN JUAN            43          185           87    315
15                ENTRE RIOS             5          171          139    315
16                   FORMOSA             3          119          159    281
17                     JUJUY             6          150          116    272
18                  LA PAMPA             7          181           26    214
19                SANTA CRUZ             6          111           61    178
20                  SAN LUIS             9           72           52    133

In [10]:
df_residencias42018= pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/residencias-otorgadas---4-trimestre---ano-2018 - residencias-otorgadas---4-trimestre---ano-2018.csv")
df_residencias42018

           PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0       BUENOS AIRES           399         9301         4634  14334
1            CORDOBA           763         1721          738   3222
2           SANTA FE           268          966          940   2174
3            NEUQUEN            52         1012          267   1331
4            MENDOZA           183          509          421   1113
5              SALTA            40          540          340    920
6             CHUBUT            48          411          288    747
7   TIERRA DEL FUEGO           402           53           55    510
8           MISIONES             4          275          226    505
9         CORRIENTES            43          202          210    455
10             JUJUY            18          195          157    370
11           TUCUMAN            61          223           86    370
12         RIO NEGRO            28          175          138    341
13          SAN LUIS             4          222          105    331
14           FORMOSA             0          148          146    294
15        ENTRE RIOS            10          158          110    278
16          LA RIOJA            16          126          133    275
17          LA PAMPA            10          191           23    224
18          SAN JUAN            34          139           49    222
19        SANTA CRUZ            11           88           28    127

In [11]:
df_residencias22019= pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/residencias-otorgadas---2-trimestre---ano-2019.csv")
df_residencias22019

                   PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0   CIUDAD AUTONOMA DE BS AS          2531        13081         8860  24472
1               BUENOS AIRES           309         5502         4218  10029
2                    CORDOBA           518          764          276   1558
3                    MENDOZA           236          569          337   1142
4                    NEUQUEN            61          649          329   1039
5                   SANTA FE           220          405          269    894
6                      SALTA            34          296          226    556
7                   MISIONES             0          265          246    511
8                     CHUBUT            31          196          214    441
9                 CORRIENTES            55          203          179    437
10                ENTRE RIOS            31          203          157    391
11                     JUJUY            20          158          187    365
12                   TUCUMAN            58          178           60    296
13                 RIO NEGRO            38          106          127    271
14                  SAN JUAN            29          132           55    216
15          TIERRA DEL FUEGO            16           78           96    190
16                  LA RIOJA             8           77           87    172
17                   FORMOSA             2           92           69    163
18                  LA PAMPA            14           87           51    152
19                SANTA CRUZ             8           51           55    114
20                  SAN LUIS             7           65           39    111

In [12]:
df_residencias32019=pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/residencias-otorgadas---3-trimestre---ano-2019.csv")
df_residencias32019

   CIUDAD AUTONOMA DE BS AS  2568  14461  11969  28998
0              BUENOS AIRES   271   4823   4488   9582
1                   CORDOBA   365    983    484   1832
2                   NEUQUEN    44    701    331   1076
3                  SANTA FE   117    472    398    987
4                   MENDOZA   145    401    293    839
5                    CHUBUT    22    368    363    753
6                  MISIONES     2    298    302    602
7                CORRIENTES    42    235    321    598
8                     SALTA    38    352    190    580
9                     JUJUY    13    149    158    320
10                  TUCUMAN    30    186     91    307
11                RIO NEGRO    30    125    131    286
12                 SAN JUAN    20    131     89    240
13         TIERRA DEL FUEGO    71     75     86    232
14                 LA RIOJA     6     73    150    229
15               ENTRE RIOS     3    132     70    205
16               SANTA CRUZ     3     56     76    135
17                  FORMOSA     0     64     65    129
18                 SAN LUIS     1     75     46    122
19                 LA PAMPA    14     40     32     86

In [13]:
df_residencias32019.columns =['PROVINCIA', 'TRANSITORIAS', 'TEMPORARIAS', 'PERMANENTES', 'TOTAL']
df_residencias32019

           PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0       BUENOS AIRES           271         4823         4488   9582
1            CORDOBA           365          983          484   1832
2            NEUQUEN            44          701          331   1076
3           SANTA FE           117          472          398    987
4            MENDOZA           145          401          293    839
5             CHUBUT            22          368          363    753
6           MISIONES             2          298          302    602
7         CORRIENTES            42          235          321    598
8              SALTA            38          352          190    580
9              JUJUY            13          149          158    320
10           TUCUMAN            30          186           91    307
11         RIO NEGRO            30          125          131    286
12          SAN JUAN            20          131           89    240
13  TIERRA DEL FUEGO            71           75           86    232
14          LA RIOJA             6           73          150    229
15        ENTRE RIOS             3          132           70    205
16        SANTA CRUZ             3           56           76    135
17           FORMOSA             0           64           65    129
18          SAN LUIS             1           75           46    122
19          LA PAMPA            14           40           32     86

In [14]:
df_residencias42019=pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/residencias-otorgadas---4-trimestre---ano-2019.csv")
df_residencias42019

                   PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0   CIUDAD AUTONOMA DE BS AS          3133        10476         9425  23034
1               BUENOS AIRES           387         4778         4698   9863
2                    CORDOBA           595         1294          684   2573
3                    NEUQUEN            40          621          356   1017
4                   SANTA FE           137          352          526   1015
5                    MENDOZA           169          392          296    857
6           TIERRA DEL FUEGO           605           55           66    726
7                      SALTA            34          357          261    652
8                 ENTRE RIOS            43          335          237    615
9                     CHUBUT            24          234          281    539
10                  MISIONES             5          164          311    480
11                CORRIENTES            20          182          235    437
12                 RIO NEGRO            21          146          125    292
13                     JUJUY            16          129          128    273
14                  LA RIOJA            15           56          142    213
15                  SAN JUAN            13          118           79    210
16                  SAN LUIS             7          130           68    205
17                   TUCUMAN            52           80           69    201
18                SANTA CRUZ            11           90           58    159
19                   FORMOSA             1           45           80    126
20                  LA PAMPA             9           27           13     49

In [15]:
df_residencias12020= pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/residencias-otorgadas---1-trimestre---ano-2020.csv")
df_residencias12020

                   PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0   CIUDAD AUTONOMA DE BS AS          1916         8028         6843  16787
1               BUENOS AIRES           306         4311         3960   8577
2                   SANTA FE           124          890         1052   2066
3                    CORDOBA           294          818          436   1548
4                    MENDOZA           102          524          406   1032
5                    NEUQUEN            36          547          320    903
6                 CORRIENTES            20          225          331    576
7                     CHUBUT            26          268          257    551
8                      SALTA            27          270          224    521
9           TIERRA DEL FUEGO           420           45           50    515
10                  MISIONES             2          174          274    450
11                 RIO NEGRO            53          118          104    275
12                ENTRE RIOS            13          138           97    248
13                     JUJUY            11          100          117    228
14                  SAN LUIS            10          112           81    203
15                  SAN JUAN            19          113           59    191
16                  LA RIOJA             2           51           96    149
17                   TUCUMAN            29           57           62    148
18                SANTA CRUZ            10           41           36     87
19                  LA PAMPA             7           25           35     67
20                   FORMOSA             0           28           30     58

In [16]:
df_residencias22020 = pd.read_csv("../Datasets/KPI_inmigrantes_AMBA/residencias-otorgadas---2-trimestre---ano-2020 .csv")
df_residencias22020

           PROVINCIA  TRANSITORIAS  TEMPORARIAS  PERMANENTES  TOTAL
0       BUENOS AIRES             6         4852         4560   9418
1           SANTA FE             2          735          922   1659
2            CORDOBA             2          442          330    774
3            NEUQUEN             0          419          279    698
4            MENDOZA             1          257          214    472
5              SALTA             4          195          189    388
6             CHUBUT             8          159          133    300
7            FORMOSA             0           94          154    248
8           MISIONES             0           99          133    232
9          RIO NEGRO             0          104           88    192
10        CORRIENTES             0           86           96    182
11        ENTRE RIOS             0           72           56    128
12          LA RIOJA             1           34           83    118
13          SAN JUAN             0           88           22    110
14           TUCUMAN             1           48           27     76
15          LA PAMPA             5           20           18     43
16          SAN LUIS             1           11           25     37
17             JUJUY             0           20           14     34
18        SANTA CRUZ             3           12           16     31
19  TIERRA DEL FUEGO             0           10            9     19

## Creación de tabla con Totales

In [18]:
## Se crea una función para agregar columna año y fecha a cada dataset
## se reordenan las columnas y se utlizan solo las necesarias 
# df sera el dataframe que se le ingresa
# año sera el año que nesecitamos agregar
#trimestre sera el trimestre que corresponde a ese año de la tabla 


def agregar_año_trimestre(df, año, trimestre):
    # Copiar el DataFrame para evitar modificar el original
    df = df.copy()

    # Agregar las columnas de AÑO y TRIMESTRE con los valores proporcionados
    df['AÑO'] = año
    df['TRIMESTRE'] = trimestre
    
    # Reordenar las columnas y eliminar las columnas no deseadas
    df = df[['AÑO', 'TRIMESTRE','PROVINCIA', 'TOTAL']]


    return df

## Año 2017

In [35]:
residencias_1_2017= agregar_año_trimestre(df_residencias12017, año=2017, trimestre=1)
residencias_1_2017.to_csv("../DATASETS_ARGENTINA/residencias_1_2017.csv", index= False)

In [36]:
residencias_1_2017

     AÑO  TRIMESTRE                 PROVINCIA  TOTAL
0   2017          1  CIUDAD AUTONOMA DE BS AS  37145
1   2017          1              BUENOS AIRES   9113
2   2017          1                  SANTA FE   1441
3   2017          1                   CORDOBA   1198
4   2017          1                     SALTA    770
5   2017          1                   MENDOZA    749
6   2017          1                    CHUBUT    664
7   2017          1                  MISIONES    521
8   2017          1                CORRIENTES    471
9   2017          1                   NEUQUEN    378
10  2017          1                 RIO NEGRO    373
11  2017          1          TIERRA DEL FUEGO    319
12  2017          1                ENTRE RIOS    260
13  2017          1                   FORMOSA    249
14  2017          1                  SAN JUAN    202
15  2017          1                   TUCUMAN    196
16  2017          1                     JUJUY    190
17  2017          1                  LA RIOJA    176
18  2017          1                SANTA CRUZ    158
19  2017          1                  SAN LUIS    102
20  2017          1                  LA PAMPA     87

In [37]:
residencias_2_2017= agregar_año_trimestre(df_residencias22017, año= 2017, trimestre= 2)

residencias_2_2017.to_csv("../DATASETS_ARGENTINA/residencias_2_2017.csv", index= False)

In [38]:
residencias_2_2017

     AÑO  TRIMESTRE                 PROVINCIA  TOTAL
0   2017          2  CIUDAD AUTONOMA DE BS AS  34320
1   2017          2              BUENOS AIRES   9419
2   2017          2                   CORDOBA   2030
3   2017          2                  SANTA FE   1371
4   2017          2                   NEUQUEN   1069
5   2017          2                   MENDOZA    927
6   2017          2                    CHUBUT    809
7   2017          2                  MISIONES    632
8   2017          2                 RIO NEGRO    540
9   2017          2                     JUJUY    515
10  2017          2                CORRIENTES    336
11  2017          2                  LA RIOJA    301
12  2017          2                SANTA CRUZ    295
13  2017          2                  SAN JUAN    287
14  2017          2                   TUCUMAN    266
15  2017          2                     SALTA    220
16  2017          2          TIERRA DEL FUEGO    212
17  2017          2                ENTRE RIOS    173
18  2017          2                   FORMOSA    144
19  2017          2                  SAN LUIS    104
20  2017          2                  LA PAMPA     99

In [39]:
residencias_3_2017 = agregar_año_trimestre(df_residencias32017, año= 2017, trimestre= 3)

residencias_3_2017.to_csv("../DATASETS_ARGENTINA/residencias_3_2017.csv", index= False)

In [40]:
residencias_3_2017

     AÑO  TRIMESTRE                 PROVINCIA  TOTAL
0   2017          3  CIUDAD AUTONOMA DE BS AS  42974
1   2017          3              BUENOS AIRES  10291
2   2017          3                   CORDOBA   1752
3   2017          3                    CHUBUT   1063
4   2017          3                  MISIONES    929
5   2017          3                  SANTA FE    873
6   2017          3                     JUJUY    759
7   2017          3                   MENDOZA    712
8   2017          3                   NEUQUEN    711
9   2017          3                     SALTA    674
10  2017          3                 RIO NEGRO    469
11  2017          3                  LA RIOJA    459
12  2017          3                  SAN JUAN    383
13  2017          3                CORRIENTES    379
14  2017          3                   TUCUMAN    276
15  2017          3                ENTRE RIOS    248
16  2017          3          TIERRA DEL FUEGO    241
17  2017          3                   FORMOSA    221
18  2017          3                SANTA CRUZ    198
19  2017          3                  SAN LUIS    134
20  2017          3                  LA PAMPA    106

In [41]:
residencias_4_2017 = agregar_año_trimestre(df_residencias42017, año= 2017, trimestre= 4)

residencias_4_2017.to_csv("../DATASETS_ARGENTINA/residencias_4_2017.csv", index= False)

In [42]:
residencias_4_2017

     AÑO  TRIMESTRE                 PROVINCIA  TOTAL
0   2017          4  CIUDAD AUTONOMA DE BS AS  36838
1   2017          4              BUENOS AIRES  12217
2   2017          4                   CORDOBA   2046
3   2017          4                   MENDOZA   1520
4   2017          4                  SANTA FE   1133
5   2017          4                  MISIONES    851
6   2017          4                     SALTA    768
7   2017          4                    CHUBUT    697
8   2017          4                CORRIENTES    654
9   2017          4                   NEUQUEN    635
10  2017          4                     JUJUY    613
11  2017          4          TIERRA DEL FUEGO    590
12  2017          4                ENTRE RIOS    499
13  2017          4                 RIO NEGRO    341
14  2017          4                  LA RIOJA    330
15  2017          4                  SAN JUAN    292
16  2017          4                   TUCUMAN    275
17  2017          4                   FORMOSA    250
18  2017          4                SANTA CRUZ    157
19  2017          4                  SAN LUIS    149
20  2017          4                  LA PAMPA    106

## Año 2018

In [43]:
residencias_1_2018 = agregar_año_trimestre(df_residencias12018, año= 2018, trimestre= 1)

residencias_1_2018.to_csv("../DATASETS_ARGENTINA/residencias_1_2018.csv", index= False)

In [44]:
residencias_1_2018

     AÑO  TRIMESTRE                 PROVINCIA  TOTAL
0   2018          1  CIUDAD AUTONOMA DE BS AS  31899
1   2018          1              BUENOS AIRES   7282
2   2018          1                   CORDOBA   1726
3   2018          1                   MENDOZA   1327
4   2018          1                  SANTA FE   1225
5   2018          1                   NEUQUEN    934
6   2018          1                  MISIONES    685
7   2018          1                    CHUBUT    627
8   2018          1                     SALTA    567
9   2018          1                 RIO NEGRO    469
10  2018          1          TIERRA DEL FUEGO    443
11  2018          1                     JUJUY    375
12  2018          1                CORRIENTES    367
13  2018          1                ENTRE RIOS    335
14  2018          1                  LA RIOJA    239
15  2018          1                   TUCUMAN    219
16  2018          1                  SAN JUAN    194
17  2018          1                   FORMOSA    162
18  2018          1                SANTA CRUZ    147
19  2018          1                  LA PAMPA    112
20  2018          1                  SAN LUIS    108

In [19]:
residencias_2_2018 = agregar_año_trimestre(df_residencias22018, año= 2018, trimestre= 2)

residencias_2_2018.to_csv("../DATASETS_ARGENTINA/residencias_2_2018.csv", index= False)

In [20]:
residencias_2_2018

     AÑO  TRIMESTRE                 PROVINCIA  TOTAL
0   2018          2  CIUDAD AUTONOMA DE BS AS  35942
1   2018          2              BUENOS AIRES  13822
2   2018          2                   CORDOBA   2713
3   2018          2                   MENDOZA   1306
4   2018          2                  SANTA FE   1290
5   2018          2                     SALTA   1243
6   2018          2                    CHUBUT    832
7   2018          2                  MISIONES    640
8   2018          2                   NEUQUEN    552
9   2018          2                 RIO NEGRO    525
10  2018          2                   TUCUMAN    492
11  2018          2                CORRIENTES    453
12  2018          2                  LA RIOJA    404
13  2018          2                ENTRE RIOS    369
14  2018          2                   FORMOSA    320
15  2018          2                  SAN JUAN    279
16  2018          2                     JUJUY    279
17  2018          2                  LA PAMPA    257
18  2018          2          TIERRA DEL FUEGO    195
19  2018          2                SANTA CRUZ    188
20  2018          2                  SAN LUIS    147

In [21]:
residencias_3_2018 = agregar_año_trimestre(df_residencias32018, año= 2018, trimestre= 3)

residencias_3_2018.to_csv("../DATASETS_ARGENTINA/residencias_3_2018.csv", index= False)

In [22]:
residencias_3_2018

     AÑO  TRIMESTRE                 PROVINCIA  TOTAL
0   2018          3  CIUDAD AUTONOMA DE BS AS  37544
1   2018          3              BUENOS AIRES  13039
2   2018          3                   CORDOBA   2472
3   2018          3                  SANTA FE   2081
4   2018          3                   MENDOZA   1208
5   2018          3                   NEUQUEN    918
6   2018          3                  MISIONES    747
7   2018          3                    CHUBUT    693
8   2018          3                   TUCUMAN    593
9   2018          3                CORRIENTES    470
10  2018          3                 RIO NEGRO    460
11  2018          3                     SALTA    433
12  2018          3                  LA RIOJA    415
13  2018          3          TIERRA DEL FUEGO    328
14  2018          3                  SAN JUAN    315
15  2018          3                ENTRE RIOS    315
16  2018          3                   FORMOSA    281
17  2018          3                     JUJUY    272
18  2018          3                  LA PAMPA    214
19  2018          3                SANTA CRUZ    178
20  2018          3                  SAN LUIS    133

In [23]:
residencias_4_2018 = agregar_año_trimestre(df_residencias42018, año= 2018, trimestre= 4)

residencias_4_2018.to_csv("../DATASETS_ARGENTINA/residencias_4_2018.csv", index= False)

In [24]:
residencias_4_2018

     AÑO  TRIMESTRE         PROVINCIA  TOTAL
0   2018          4      BUENOS AIRES  14334
1   2018          4           CORDOBA   3222
2   2018          4          SANTA FE   2174
3   2018          4           NEUQUEN   1331
4   2018          4           MENDOZA   1113
5   2018          4             SALTA    920
6   2018          4            CHUBUT    747
7   2018          4  TIERRA DEL FUEGO    510
8   2018          4          MISIONES    505
9   2018          4        CORRIENTES    455
10  2018          4             JUJUY    370
11  2018          4           TUCUMAN    370
12  2018          4         RIO NEGRO    341
13  2018          4          SAN LUIS    331
14  2018          4           FORMOSA    294
15  2018          4        ENTRE RIOS    278
16  2018          4          LA RIOJA    275
17  2018          4          LA PAMPA    224
18  2018          4          SAN JUAN    222
19  2018          4        SANTA CRUZ    127

## Año 2019

In [25]:
residencias_1_2019 = agregar_año_trimestre(df_residencias12019, año= 2019, trimestre= 1)

residencias_1_2019.to_csv("../DATASETS_ARGENTINA/residencias_1_2019.csv", index= False)

In [26]:
residencias_1_2019

     AÑO  TRIMESTRE                 PROVINCIA  TOTAL
0   2019          1  CIUDAD AUTONOMA DE BS AS  24215
1   2019          1              BUENOS AIRES  11822
2   2019          1                   CORDOBA   1896
3   2019          1                   MENDOZA   1258
4   2019          1                  SANTA FE   1004
5   2019          1                   NEUQUEN    696
6   2019          1                  MISIONES    581
7   2019          1                    CHUBUT    572
8   2019          1          TIERRA DEL FUEGO    452
9   2019          1                CORRIENTES    360
10  2019          1                     JUJUY    352
11  2019          1                 RIO NEGRO    308
12  2019          1                  SAN LUIS    266
13  2019          1                ENTRE RIOS    256
14  2019          1                     SALTA    188
15  2019          1                  SAN JUAN    172
16  2019          1                  LA RIOJA    166
17  2019          1                SANTA CRUZ    141
18  2019          1                   TUCUMAN    120
19  2019          1                   FORMOSA     76
20  2019          1                  LA PAMPA     62

In [27]:
residencias_2_2019 = agregar_año_trimestre(df_residencias22019, año= 2019, trimestre= 2)

residencias_2_2019.to_csv("../DATASETS_ARGENTINA/residencias_2_2019.csv", index= False)

In [28]:
residencias_2_2019

     AÑO  TRIMESTRE                 PROVINCIA  TOTAL
0   2019          2  CIUDAD AUTONOMA DE BS AS  24472
1   2019          2              BUENOS AIRES  10029
2   2019          2                   CORDOBA   1558
3   2019          2                   MENDOZA   1142
4   2019          2                   NEUQUEN   1039
5   2019          2                  SANTA FE    894
6   2019          2                     SALTA    556
7   2019          2                  MISIONES    511
8   2019          2                    CHUBUT    441
9   2019          2                CORRIENTES    437
10  2019          2                ENTRE RIOS    391
11  2019          2                     JUJUY    365
12  2019          2                   TUCUMAN    296
13  2019          2                 RIO NEGRO    271
14  2019          2                  SAN JUAN    216
15  2019          2          TIERRA DEL FUEGO    190
16  2019          2                  LA RIOJA    172
17  2019          2                   FORMOSA    163
18  2019          2                  LA PAMPA    152
19  2019          2                SANTA CRUZ    114
20  2019          2                  SAN LUIS    111

In [29]:
residencias_3_2019 = agregar_año_trimestre(df_residencias22019, año= 2019, trimestre= 3)

residencias_3_2019.to_csv("../DATASETS_ARGENTINA/residencias_3_2019.csv", index= False)

In [30]:
residencias_3_2019

     AÑO  TRIMESTRE                 PROVINCIA  TOTAL
0   2019          3  CIUDAD AUTONOMA DE BS AS  24472
1   2019          3              BUENOS AIRES  10029
2   2019          3                   CORDOBA   1558
3   2019          3                   MENDOZA   1142
4   2019          3                   NEUQUEN   1039
5   2019          3                  SANTA FE    894
6   2019          3                     SALTA    556
7   2019          3                  MISIONES    511
8   2019          3                    CHUBUT    441
9   2019          3                CORRIENTES    437
10  2019          3                ENTRE RIOS    391
11  2019          3                     JUJUY    365
12  2019          3                   TUCUMAN    296
13  2019          3                 RIO NEGRO    271
14  2019          3                  SAN JUAN    216
15  2019          3          TIERRA DEL FUEGO    190
16  2019          3                  LA RIOJA    172
17  2019          3                   FORMOSA    163
18  2019          3                  LA PAMPA    152
19  2019          3                SANTA CRUZ    114
20  2019          3                  SAN LUIS    111

In [31]:
residencias_4_2019 = agregar_año_trimestre(df_residencias42019, año= 2019, trimestre= 4)

residencias_4_2019.to_csv("../DATASETS_ARGENTINA/residencias_4_2019.csv", index= False)

In [32]:
residencias_4_2019

     AÑO  TRIMESTRE                 PROVINCIA  TOTAL
0   2019          4  CIUDAD AUTONOMA DE BS AS  23034
1   2019          4              BUENOS AIRES   9863
2   2019          4                   CORDOBA   2573
3   2019          4                   NEUQUEN   1017
4   2019          4                  SANTA FE   1015
5   2019          4                   MENDOZA    857
6   2019          4          TIERRA DEL FUEGO    726
7   2019          4                     SALTA    652
8   2019          4                ENTRE RIOS    615
9   2019          4                    CHUBUT    539
10  2019          4                  MISIONES    480
11  2019          4                CORRIENTES    437
12  2019          4                 RIO NEGRO    292
13  2019          4                     JUJUY    273
14  2019          4                  LA RIOJA    213
15  2019          4                  SAN JUAN    210
16  2019          4                  SAN LUIS    205
17  2019          4                   TUCUMAN    201
18  2019          4                SANTA CRUZ    159
19  2019          4                   FORMOSA    126
20  2019          4                  LA PAMPA     49

## Año 2020

In [33]:
residencias_1_2020 = agregar_año_trimestre(df_residencias12020, año= 2020, trimestre= 1)

residencias_1_2020.to_csv("../DATASETS_ARGENTINA/residencias_1_2020.csv", index= False)

In [34]:
residencias_1_2020

     AÑO  TRIMESTRE                 PROVINCIA  TOTAL
0   2020          1  CIUDAD AUTONOMA DE BS AS  16787
1   2020          1              BUENOS AIRES   8577
2   2020          1                  SANTA FE   2066
3   2020          1                   CORDOBA   1548
4   2020          1                   MENDOZA   1032
5   2020          1                   NEUQUEN    903
6   2020          1                CORRIENTES    576
7   2020          1                    CHUBUT    551
8   2020          1                     SALTA    521
9   2020          1          TIERRA DEL FUEGO    515
10  2020          1                  MISIONES    450
11  2020          1                 RIO NEGRO    275
12  2020          1                ENTRE RIOS    248
13  2020          1                     JUJUY    228
14  2020          1                  SAN LUIS    203
15  2020          1                  SAN JUAN    191
16  2020          1                  LA RIOJA    149
17  2020          1                   TUCUMAN    148
18  2020          1                SANTA CRUZ     87
19  2020          1                  LA PAMPA     67
20  2020          1                   FORMOSA     58

In [35]:
residencias_2_2020= agregar_año_trimestre(df_residencias22020, año= 2020, trimestre= 2)

residencias_2_2020.to_csv("../DATASETS_ARGENTINA/residencias_2_2020.csv", index= False)

In [36]:
residencias_2_2020

     AÑO  TRIMESTRE         PROVINCIA  TOTAL
0   2020          2      BUENOS AIRES   9418
1   2020          2          SANTA FE   1659
2   2020          2           CORDOBA    774
3   2020          2           NEUQUEN    698
4   2020          2           MENDOZA    472
5   2020          2             SALTA    388
6   2020          2            CHUBUT    300
7   2020          2           FORMOSA    248
8   2020          2          MISIONES    232
9   2020          2         RIO NEGRO    192
10  2020          2        CORRIENTES    182
11  2020          2        ENTRE RIOS    128
12  2020          2          LA RIOJA    118
13  2020          2          SAN JUAN    110
14  2020          2           TUCUMAN     76
15  2020          2          LA PAMPA     43
16  2020          2          SAN LUIS     37
17  2020          2             JUJUY     34
18  2020          2        SANTA CRUZ     31
19  2020          2  TIERRA DEL FUEGO     19